* {margin: 0;padding: 0}
a {text-decoration: none;}
.absolute {position: absolute;}
.relative {position: relative;}
.inblock {display: inline-block;}
.fr {float: right;}
.fl {float: left;}
.tec {text-align: center;}
.tel {text-align: left;}
.ter {text-align: right;}
.cp {cursor: pointer;}
.width100 {width: 100%}
/*颜色*/
.corfff {color: #fff}
.title-color {color: #8494A5}
.bgkey {background-color: #1F3559}
.bgmain {background-color: #122442;}
.tablecolor {background-color: #A2ADCE}
.colortable {color: #A2ADCE}
.bg-opcity {background-color: #2C3D5D}
.colorbtn {color: #00D1FF}
.bgtablel {background-color: #1B3053}
.bgtabler {background-color: #182C4D}
/*透明度的线*/
.opacityline {background-color: rgb(118,137,182);height: 0.5px; opacity: 0.7} 
.opacity40 {opacity: 0.4}
.opacity50 {opacity: 0.5}
.opacity60 {opacity: 0.6}
.opacity70 {opacity: 0.7}

.fs12 {font-size: 12px}
.fs13 {font-size: 13px}
.fs14 {font-size: 14px}
.fs15 {font-size: 15px}
.fs16 {font-size: 16px}
.fs18 {font-size: 18px}
.fs20 {font-size: 20px}
.fs22 {font-size: 22px}
.fs24 {font-size: 24px}
.fs32 {font-size: 32px}
.fs48 {font-size: 48px}

label[name=valid]:before{  content: '*';  color: #E34692;  margin-right: 5px;}
.input-color {color: #EFF3FC}
.clearfix:after {/*元素的父亲*/
    content: "";
    height:0;/*高度为0*/
    width:100%;
　　line-height:0;/*行高为0*/
　　display:block;/*将文本转为块级元素*/
　　visibility:hidden;/*将元素隐藏*/
　　clear:both;/*清除浮动*/
}
.clearfix{
    zoom:1;/*为了兼容IE*/
}